<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image1.jpg" class="d-block w-100" alt="image1">
    </div>
    <div class="carousel-item">
      <img src="/assets/image2.jpg" class="d-block w-100" alt="image2">
    </div>
    <div class="carousel-item">
      <img src="/assets/image3.jpg" class="d-block w-100" alt="image3">
    </div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at ducimus eius facere illo in minima possimus ut, voluptate. Accusantium ad amet asperiores atque deleniti dignissimos distinctio dolores ducimus ea eaque earum eius est et expedita facilis hic id illum, iure magni necessitatibus non officiis optio provident qui quis repellat reprehenderit tenetur? Commodi corporis, dicta doloribus explicabo quidem sapiente similique? Ad amet at dolorum error expedita facilis molestias nam nulla odio, officia quia, repellat sed sequi suscipit voluptatem! Adipisci doloremque ea exercitationem. Assumenda eligendi hic magnam maiores nulla obcaecati voluptatem voluptatum? Fugiat id iusto magnam, maxime mollitia suscipit ut!
</p>
